Flask-Cors
Jinja2
Keras
Markdown
Pillow
PyYAML
bleach
fpdf
funcsigs
h5py
html5lib
imageio
librosa
matplotlib
mock
numpy
olefile
pandas
pbr
protobuf
pydub
requests
scikit-learn
scipy
seaborn
selenium
six
sox
tensorflow
Theano
tqdm
Werkzeug